#hero {
    background-image: url("https://cdn.pixabay.com/photo/2020/04/18/20/01/background-5060836_1280.jpg");
    background-size: cover;
    background-position: center center;
    height: 70vh;
}

#subscribeButton {
    background: none;
    border: 2px solid white;
}


